.header{
    background-color: rgba(255, 205, 178, .3);
   

}
.button-login{
    background: #E5989B !important;
    border: none !important;
}
.button-login:hover{
       background: #FFB4A2!important;
       border: none !important;
}