.recipe-details{
    border-radius: 5px;
    background:     rgba(247, 226, 215, 0.3);
    padding: 30px;
    display: flex;

}
.recipe-image img{
    width: 100%;
    height: 500px;
    border-radius: 9px;

}
.recipe-info{
   margin-left: 50px;
   margin-top: 50px;

}
.description-for-chef{
    font-size: 20px;
    padding-top: 20px;
}

 
